extends ../_includes/_base.pug

block content
  include ../_includes/content/hero.pug
  include ../_includes/content/what-we-offer.pug
  include ../_includes/content/gallery-cta.pug
  include ../_includes/content/why-vehicle-wraps.pug
