extends ../_includes/_base.pug

block content
  include ../_includes/content/hero-two.pug
  include ../_includes/content/company.pug
  include ../_includes/content/about.pug
  include ../_includes/content/partners.pug
  include ../_includes/content/videos.pug
  //- include ../_includes/content/profile-video.pug
