doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet", href="css/main.css?v.1.18")
    
    include partials/meta.pug
  body
    header
      div
        include partials/header.pug
        include partials/main-nav.pug
        include partials/toggle.pug
        
    main
      block content
    footer
      include partials/footer.pug
    include content/video-modal.pug
    script(src="js/main.js?v.1.5")