
input#mobile-menu(type="checkbox")
label(for="mobile-menu")
  span
nav
  ul
    li 
      a(href="/#company") Company
    li 
      a(href="/#about") About
    li 
      a(href="/#partners") Partners
    li 
      a(href="/#contact") Contact