title FCL Consulting and Sales
meta(name="description", content="FCL Consulting and Sales provides expert metal fabrication, stamping, finishing & CNC machining, connecting manufacturers to full production supply chain solutions, from engineering concept to volume parts.")
meta(name="keywords", content="metal fabrication, stamping, cnc, cnc machining, supply chain")
meta(property="og:site_name", content="FCL Consulting and Sales")
meta(property="og:title", content="FCL Consulting and Sales")
meta(property="og:description", content="FCL Consulting and Sales provides expert metal fabrication, stamping, finishing & CNC machining, connecting manufacturers to full production supply chain solutions, from engineering concept to volume parts.")
meta(property="og:image", content="/img/fcl-consulting-and-sales-og_001.png")
meta(property="og:url", content="https://fcl-cas.com/")