section#about
    h2 About
    p 
      | Frank Longo, with a background as a progressive deep draw toolmaker and head of sales, is the owner of FCL Consulting and Sales.
      | Specializing in progressive metal stamping, CNC machining, sheet metal fabrication, and metal finishing, Frank leverages his extensive
      | experience to forge robust connections between supply chains and top-tier manufacturers. His expertise extends to assisting in engineering
      | for New Product Introduction (NPI) and optimizing manufacturability for mass production.