section#about
    h2 About
    p 
      | Frank Longo, with a background as a third-generation progressive deep draw toolmaker, manufacturer,
      | and business owner, is the founder and operating officer of FCL Consulting and Sales. 
    .bio-pic
      img(src="/img/frank-longo-bio-pic_003.jpg", alt="alt")
    p
      | Frank utilizes his extensive experience to forge robust connections between supply chains and
      | top-tier manufacturers. On his free time Frank enjoys the company of his family, cooking,
      | and working out. 