section#company
  img(src="/img/fcl-parts_002.png", alt="Machine Parts")
  h2 Company
  p 
    | FCL Consulting and Sales is dedicated to assembling enduring partnerships between supply chains
    | and industry-leading manufacturers. Our partners excel in metal fabrication, metal stamping, metal
    | finishing, and CNC machining. With a foundation built on communication and vertical integration,
    | FCL brings expertise that extends to assisting in engineering for New Product Introduction (NPI)
    | and optimizing manufacturability for mass production.
  p
    | In addition, FCL offers comprehensive support for manufacturers navigating ownership transitions, including
    | private or private equity acquisitions. We guide you through every step of the process, from evaluation and
    | negotiation to closing, ensuring a smooth and successful exit.
