section#company
  div
    h2 Company
    p 
      | FCL Consulting and Sales is dedicated to constructing enduring partnerships between supply chains and industry-leading manufacturers.
      | As a company, FCL excels in progressive metal stamping, CNC machining, sheet metal fabrication, and metal finishing. With a foundation
      | built on Frank's background as a toolmaker and head of sales, coupled with his co-ownership of a third-generation manufacturing company,
      | FCL brings a unique and seasoned perspective to drive success for both the company and its clients.