section#company
  div
    h2 Company
    p 
      | With a custom design vehicle wrap, your company can have a mobile billboard that reaches customers in places where
      | traditional advertising may not be effective. Whether you're attending a trade show, driving through crowded streets,
      | or parked prime location, your company's message will be seen.
      | The creative way to make a lasting impression that sets your brand apart from your competitors.