section#company
  img(src="/img/fcl-sparks_001.png", alt="alt")
  h2 Company
  p 
    | FCL Consulting and Sales is dedicated to assembling enduring partnerships between supply chains
    | and industry-leading manufacturers. Our partners excel in metal fabrication, metal stamping, metal
    | finishing, and CNC machining. With a foundation built on communication and vertical integration,
    | FCL brings expertise that extends to assisting in engineering for New Product Introduction (NPI)
    | and optimizing manufacturability for mass production.