.hero
  //- h1 Forging Connections between Supply and Manufacturing
  div
    h1 Allow our Innovation to Manufacture your Imagination
    //- button#open-btn.video-trigger(data-video="vPgvp6LoYww") Watch Profile
  //- img(src="/img/fcl-texture-forging_001.jpg", alt="FCL Forging")
  div
    img.square-one(src="/img/fcl-square-001.jpg", alt="FCL Forging")
    img.circle(src="/img/fcl-circle-001.jpg", alt="FCL Forging")
    img.square-two(src="/img/fcl-square-002.jpg", alt="FCL Forging")
