.hero-home
  div
    h1.hero-lead We Specialize in #[a.hero-header(href="#services") Vehicle Wraps ]
  div
    h2.hero-lead Get Noticed with #[a.hero-header(href="#services",data-hd-length='signage') Signage ]
  div
    h2.hero-lead Featuring #[a.hero-header(href="/accessories/",data-hd-length='accessories') Accessories ]
