section#partners
  div
    h2 Who we Work With
  div(style="display:flex; align-items: center; justify-content: space-around;")
    include ../svg/company-one.svg
    include ../svg/company-two.svg
    include ../svg/company-three.svg