section#partners
  h2 Who we Work With
  div(style="display:flex; align-items: center; justify-content: space-around;flex-grow:1;gap: 2rem;")
    include ../svg/trident_001.svg
    include ../svg/marion-manufacturing_001.svg
    include ../svg/company-three.svg