dialog#video-modal
  div
    iframe(src="https://www.youtube.com/embed/5NouT3RK-cA", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
    button#close-modal Close


//- https://codepen.io/kevinpowell/pen/KKyOYvM

