dialog#video-modal
  div
    iframe(width="560", height="315", src="https://www.youtube.com/embed/JCH2RlS5pts?si=8l5Opk-W-9swjJRh", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
    button#close-modal Close

