div.video-cards
  div
    a(href="#",data-video="WF4RH0xe-mU").video-trigger
      img(src="/img/trident-video-thumbnail_001.jpg", alt="Trident Video Thumbnail")
    p Video - Trident
    div
      a(href="/pdf/trident-capability-list.pdf", target="_blank") Download Capability List
  div
    a(href="#",data-video="7rEYoLWIqOk").video-trigger
      img(src="/img/marion-video-thumbnail_001.jpg", alt="Marion Video Thumbnail")
    p Video - Marion Mfg.
    div
      a(href="/pdf/marion-mfg-capability-list.pdf", target="_blank") Download Capability List
  div
    a(href="#",data-video="QBAYvD8exL0").video-trigger
      img(src="/img/uni-metal-video-thumbnail_001.jpg", alt="Uni-Metal Video Thumbnail")
    p Video - Uni-Metal
    div
      a(href="/pdf/uni-metal-capability-list.pdf", target="_blank") Download Capability List
  