div.video-cards
  div
    a(href="#",data-video="iW9sD27nCg0").video-trigger
      img(src="/img/trident-video-thumbnail_001.jpg", alt="Trident Video Thumbnail")
    p Video - Trident
    div
      a(href="/pdf/trident-capability-list.pdf", target="_blank") Download Capabilities & Services List
  div
    a(href="#",data-video="h_2-G2zRSb8").video-trigger
      img(src="/img/marion-video-thumbnail_001.jpg", alt="Marion Video Thumbnail")
    p Video - Marion Mfg.
    div
      a(href="/pdf/marion-mfg-capability-list.pdf", target="_blank") Download Capabilities & Services List
  div
    a(href="#",data-video="UGl9DRXxmAs").video-trigger
      img(src="/img/uni-metal-video-thumbnail_001.jpg", alt="Uni-Metal Video Thumbnail")
    p Video - Unimetal
    div
      a(href="/pdf/uni-metal-capability-list.pdf", target="_blank") Download Capabilities & Services List
  