div.video-cards
  div
    img(src="/img/video-thumbnail.jpg", alt="alt")
    p Video Title - One
    p 
      | Brief description of the video or video details
  div
    img(src="/img/video-thumbnail.jpg", alt="alt")
    p Video Title - Two
    p 
      | Brief description of the video or video details
  div
    img(src="/img/video-thumbnail.jpg", alt="alt")
    p Video Title - Three
    p 
      | Brief description of the video or video details