section#services.service
  h1 What We Offer
  .service-cards
    .service-card
      p.service-card-header Vehicle Wraps
      p.service-card-desc
        | Specializing in vehicle wraps and graphics
      ul
        li Cars
        li Vans
        li Trucks
        li Fleet Vehicles
        li Trailers
    .service-card
      p.service-card-header Signage
      p.service-card-desc
        | From signs to banners to storefront signage
      ul
        li Exterior Signs & Graphics
        li Interior Graphics
        li Storefronts & Windows
        li Banners
    .service-card
      p.service-card-header Graphic Services
      p.service-card-desc
        | We offer business graphic services
      ul
        li Screen Printing
        li Embroidery
        li Business Cards & Stationary
        li Websites