section.wraps
  div
    figure
      img(src="https://res.cloudinary.com/dbtk/image/upload/c_scale,w_450,f_auto/_clients/atdofct/wraps/vehicle-wrap-half_001.png", alt="alt")
      figcaption &half; Vehicle Wrap
    figure
      img(src="https://res.cloudinary.com/dbtk/image/upload/c_scale,w_500,f_auto/_clients/atdofct/wraps/vehicle-wrap-three-quarter_001.png", alt="alt")
      figcaption &frac34; Vehicle Wrap
    figure
      img(src="https://res.cloudinary.com/dbtk/image/upload/c_scale,w_500,f_auto/_clients/atdofct/wraps/vehicle-wrap-partial_001.png", alt="alt")
      figcaption Partial Vehicle Wrap
  div
    h1 Why Vehicle Wraps
    p
      strong Mobile Billboard
    p 
      | With a custom design vehicle wrap, your company can have a mobile billboard that reaches customers in places where
      | traditional advertising may not be effective. Whether you're attending a trade show, driving through crowded streets,
      | or parked prime location, your company's message will be seen.
      | The creative way to make a lasting impression that sets your brand apart from your competitors.
    p
      strong Cost-effective Advertising
    p
      | A wrapped vehicle can generate approximately 2 million impressions per year, and on average, 5,000 people per day
      | can see your company's message. A one-time investment in a high-quality wrap that can last up to five years is a
      | cost-effective option when compared to other forms of advertising. Get the long-term exposure your brand needs at a worthwhile cost.
    p
      strong Get Noticed
    p
      | Auto Trim Design can work with any budget to create a customized design that meets your specific needs.
      | Promoting your brand and its message is our highest priority.
      | Take the first step towards increased exposure and profitability by #[a(href="/contact/") contacting us] today.